
#navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin-top: -60px;
}
.fa-magnifying-glass{
    font-size: 1.5em;
}
.fa-user-astronaut{
    font-size: 1.5em;
}
#carouselExampleControls{
    margin-top: 60px;
    width: 100%;
    height: 80% !important;
    background: black;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}

#separador{
    background-color: rgba(33, 37, 41, 0.88);
}
#separador::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#separador-noticias{
    background-color: rgba(33,37,41,255);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#noticias{
    background: rgb(255,255,255);
    background: url(../img/imagen2.png);
    background-size: 100%;
    margin-top: -20px;
}
.card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}
